<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @categoria.nombre %>
</p>

<% for anuncio in @categoria.anuncios %>
	<%= link_to anuncio.titulo, anuncio %><br>

<% end %>

<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorias_path %>
