<h1>Anuncios</h1>

<table>
  <tr>
  	<th width="50">ID</th>
    <th width="150">Titulo</th>
    <th width="250">Contenido</th>
    <th width="50"></th>
    <th width="50"></th>
    <th width="50"></th>
  </tr>

<% @anuncios.each do |anuncio| %>
  <tr>
  	<td><%= anuncio.id %></td>
    <td><%= anuncio.titulo %></td>
    <td><%= anuncio.contenido %></td>
    <td><%= link_to 'Show', anuncio %></td>
    <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
    <td><%= link_to 'Destroy', anuncio, confirm: 'Estas seguro que deseas borrar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anuncio', new_anuncio_path %>
